.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    +.wrapper {
        margin-left: 16px;
    }
    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon {
    margin-right: 8px;
    width: 20px;
}

// button type
.primaryy {
    background-color: var(--primary);
    color: #fff;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    border-color: var(--primary);
    color: var(--primary);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.rounded {
    border-radius: 999px;
    background: none;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//button size
.small {
    min-width: 88px;
}

.large {
    min-width: 136px;
    padding: 14px 16px;
}