.search {
    display: flex;
    width: 361px;
    height: 46px;
    padding-left: 16px;
    background: rgba(22, 24, 35, 0.06);
    // background-color: aquamarine;
    // border-bottom-left-radius: 92px;
    // border-top-left-radius: 92px;
    border-radius: 92px;
    position: relative;
    border: 1.5px solid transparent;
    input {
        height: 100%;
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;
        position: relative;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }
    &:focus-within {
        border-color: #666;
    }
}

input:not(:placeholder-shown)~.search-btn {
    color: #333;
}

.search-result {
    width: 361px;
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    background-color: aliceblue;
    overflow: hidden;
}

.clear,
.loading {
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    cursor: pointer;
}

.search-btn {
    width: 52px;
    height: 100%;
    color: #888;
    outline: none;
    font-size: 1.8rem;
    border-color: transparent;
    border-bottom-right-radius: 92px;
    border-top-right-radius: 92px;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.custom-login {
    color: rgba(22, 24, 35, 0.75);
}

@keyframes animate {
    from {
        transform: rotate(0);
        transform: translateY(-50%);
    }
    to {
        transform: rotate(360deg);
        transform: translateY(-50%);
    }
}

.loading {
    animation: animate, linear, 0.5;
    color: red;
}